<div class="container">

  <div class="starter-template">
	<h1>Random act of Giving</h1>
	<p class="lead">Donate to great causes without even having to think.<br /> <strong>{{num_donations}} donations made so far!</strong></p>
	
	<p class="lead">Tweet using <strong>#giverandom</strong> and we will send you a link <br />to donate to a random event on <strong><a href="http://www.justgiving.com" target="_blank">JustGiving.com</a></strong></p>
  </div>
  
</div><!-- /.container -->


 