<div class="container">

  <div class="starter-template">
	<h1>Random act of Generosity</h1>
	<p class="lead">Donate to great causes without even having to think.<br> SMS and Twitter. <strong>{{num_donations}} donations made so far!</strong></p>
	
	<p class="lead"><strong>Text or Tweet us and we will send you a link <br />to donate to a random event on <a href="http://www.justgiving.com" target="_blank">JustGiving.com</a></strong></p>
	<!--<p><a href="https://twitter.com/give_random" target="_blank" class="btn btn-info">@give_random</a></p>-->
  </div>
  
  <div class="row">
  	<div class="col-md-12">
  		<p class="lead"><strong>Thank you for donating! Click <a href="{{page_link}}">here</a> to see what you donated for!</strong></p>
  	</div>
  </div>
  
  <!--<div class="row">
  	<div class="col-md-3 col-md-offset-2">
  		<p class="lead"><i class="fa fa-money fa-5x pull-left"></i> Donate on JustGiving.com </p>
  	</div>
  	
  	<div class="col-md-2">
  		<p class="lead"><i class="fa fa-arrow-right fa-5x pull-left"></i></p>
  	</div>
  	
  	<div class="col-md-3">
  		<p class="lead"><i class="fa fa-smile-o fa-5x pull-right"></i> Make someone's fundraising day </p>
  	</div>
  </div>-->

</div><!-- /.container -->


 