body {
  background: transparent url('https://farm4.staticflickr.com/3136/2895535441_eafe83df04_o.jpg') -50px -50px no-repeat;
  padding-top: 25px;
  color: #fff;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

